@model Contactform
@{
    ViewData["Title"] = "Contactpagina";
}

<div class="page">
    <section class="contact">

        <h1>Contact</h1>
        <p>@ViewBag.Message</p>
        <form method="post" class="form-contactpagina">
            @Html.AntiForgeryToken()

            <div class="form-contactpagina__inputelement fx-col">
                <label for="MailSubject">Onderwerp: </label>
                <input type="text" asp-for="MailSubject" id="subject" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="firstname">Voornaam: </label>
                <input type="text" asp-for="FirstName" name="firstname" id="firstname" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="lastname">Achternaam: </label>
                <input type="text" asp-for="LastName" name="lastname" id="lastname" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">E-mailadres: </label>
                <input type="email" asp-for="Email" name="email" id="email" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="phone">Telefoonnummer: </label>
                <input type="tel" asp-for="Phone" name="phone" id="phone" required>
            </div>

            <div class="form-contactpagina__inputelement">
                <label for="message">Bericht: </label>
                <textarea asp-for="Message" name="message" id="message" required></textarea >
            </div>


            <div class="form-contactpagina__inputelement">
                <input type="submit" value="Verstuur!">
            </div>


        </form>

    </section>
</div>
<script type="module" src="~/js/contactverzoek.js" asp-append-version="true"></script>
<script src="~/js/revokeFeatures.js" asp-append-version="true"></script>