
<meta name="viewport" content="width=device-width, initial-scale=1">
<html data-a11y-animated-images="system" data-a11y-link-underlines="true" data-color-mode="auto" data-dark-theme="dark" data-light-theme="light" data-lt-installed="true" data-turbo-loaded="" lang="en">
<section id="home">
</section>
<head>
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/dark-e8b003732d38.css" />
    <link rel="stylesheet" href="~/css/primer-primitives-ebd37ecbf27d.css" />
    <link rel="stylesheet" href="~/css/primer-3f55af1462e6.css" />
    <link rel="stylesheet" href="~/css/global-561250c1bd8a.css" />
    <link rel="stylesheet" href="~/css/github-e4eed26e112b.css" />
    <meta charset="utf-8" />


    <title>
        Timme Kingma
    </title>

    <style id="operaUserStyle" type="text/css"></style>
    <style type="text/css"></style>
</head>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(function() {
       $("#includeFooter").load("footer.html");
    });
</script>


<!-- header -->

<div class="mt-4 position-sticky top-0 d-block d-md-block color-bg-default width-full border-bottom color-border-muted" style="z-index:3;" data-turbo-frame="user-profile-frame">
    <div class="container-xl px-3 px-md-4 px-lg-5">
        <div data-view-component="true" class="Layout-sidebar"></div>
        <div data-view-component="true" class="Layout-main">
            <div class="UnderlineNav width-full box-shadow-none js-responsive-underlinenav overflow-md-x-hidden">
                <nav class="UnderlineNav-body width-full p-responsive js-sidenav-container-pjax" aria-label="User profile">
                    <a class="UnderlineNav-item js-responsive-underlinenav-item js-selected-navigation-item selected" href="index.html">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-book UnderlineNav-octicon hide-sm">
                            <path d="M0 1.75A.75.75 0 0 1 .75 1h4.253c1.227 0 2.317.59 3 1.501A3.743 3.743 0 0 1 11.006 1h4.245a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75h-4.507a2.25 2.25 0 0 0-1.591.659l-.622.621a.75.75 0 0 1-1.06 0l-.622-.621A2.25 2.25 0 0 0 5.258 13H.75a.75.75 0 0 1-.75-.75Zm7.251 10.324.004-5.073-.002-2.253A2.25 2.25 0 0 0 5.003 2.5H1.5v9h3.757a3.75 3.75 0 0 1 1.994.574ZM8.755 4.75l-.004 7.322a3.752 3.752 0 0 1 1.992-.572H14.5v-9h-3.495a2.25 2.25 0 0 0-2.25 2.25Z"></path>
                        </svg>
                        Home
                    </a>
                    <a class="UnderlineNav-item js-responsive-underlinenav-item js-selected-navigation-item" href="blogspage.html">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-repo UnderlineNav-octicon hide-sm">
                            <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                        </svg>
                        Blogs
                    </a>
                    <a class="UnderlineNav-item js-responsive-underlinenav-item js-selected-navigation-item" href="certifactes.html">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-table UnderlineNav-octicon hide-sm">
                            <path d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25ZM6.5 6.5v8h7.75a.25.25 0 0 0 .25-.25V6.5Zm8-1.5V1.75a.25.25 0 0 0-.25-.25H6.5V5Zm-13 1.5v7.75c0 .138.112.25.25.25H5v-8ZM5 5V1.5H1.75a.25.25 0 0 0-.25.25V5Z"></path>
                        </svg>
                        Certificates
                        <span title="0" hidden="hidden" data-view-component="true" class="Counter">0</span>
                    </a>
                    <a class="UnderlineNav-item js-responsive-underlinenav-item js-selected-navigation-item" href="links.html">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-package UnderlineNav-octicon hide-sm">
                            <path d="m8.878.392 5.25 3.045c.54.314.872.89.872 1.514v6.098a1.75 1.75 0 0 1-.872 1.514l-5.25 3.045a1.75 1.75 0 0 1-1.756 0l-5.25-3.045A1.75 1.75 0 0 1 1 11.049V4.951c0-.624.332-1.201.872-1.514L7.122.392a1.75 1.75 0 0 1 1.756 0ZM7.875 1.69l-4.63 2.685L8 7.133l4.755-2.758-4.63-2.685a.248.248 0 0 0-.25 0ZM2.5 5.677v5.372c0 .09.047.171.125.216l4.625 2.683V8.432Zm6.25 8.271 4.625-2.683a.25.25 0 0 0 .125-.216V5.677L8.75 8.432Z"></path>
                        </svg>
                        Links
                        <span title="0" hidden="hidden" data-view-component="true" class="Counter">0</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>



<body class="logged-in env-production page-responsive page-profile mine" style="overflow-wrap: break-word; --dialog-scrollgutter: 15px;">
    <div class="logged-in env-production page-responsive page-profile mine" data-turbo-body="" style="word-wrap: break-word;">
        <div class="flash-container" data-turbo-replace="" id="js-flash-container">
            <div class="application-main" data-commit-hovercards-enabled="" data-discussion-hovercards-enabled="" data-issue-and-pr-hovercards-enabled="">
                <main>
                    <div class="container-xl px-3 px-md-4 px-lg-5 mt-2">
                        <div class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start" data-view-component="true">
                            <div class="Layout-sidebar" data-view-component="true">
                                <div class="h-card mt-5" data-acv-badge-hovercards-enabled="" itemscope="" itemtype="http://schema.org/Person">
                                    <div class="js-profile-editable-replace">
                                        <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
                                            <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0" style="z-index:4;">
                                                <span class="position-relative" data-view-component="true">
                                                    <a aria-describedby="tooltip-9364ec76-c324-4aeb-a500-ae9f548adbde" aria-label="Change your avatar" class="Link d-block" data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":60423088,"target":"EDIT_AVATAR","user_id":60423088,"originating_url":"https://github.com/ATkingma"}}' data-hydro-click-hmac="1bae5bc79048e7e38fedf96de92726996c580ea724d57f5f11ba26896d60ad02" data-view-component="true" href="https://github.com/ATkingma">
                                                        <img alt="" class="avatar avatar-user width-full border color-bg-default" height="260" src="img/Pf.png" style="height:auto;" width="260" />
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="vcard-names-container float-left js-profile-editable-names col-12 py-3 js-sticky js-user-profile-sticky-fields" data-original-top="0px" style="position: sticky;">
                                                <h1 class="vcard-names">
                                                    <span class="p-name vcard-fullname d-block overflow-hidden" itemprop="name">
                                                    </span>
                                                    <span class="p-nickname vcard-username d-block" itemprop="additionalName">
                                                        Timme Kingma
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="flex-order-1 flex-md-order-none">
                                                <div class="d-flex flex-lg-row flex-md-column">
                                                </div>
                                                <waiting-form data-catalyst="">
                                                    <div class="p-note user-profile-bio mb-3 js-user-profile-bio f4" data-bio-text="test">
                                                        <div>
                                                            Hi, I’m Timme! A passionate programmer and student at Windesheim Zwolle. I love tackling new challenges and bringing creative solutions to life.
                                                            <p> </p>
                                                            <div class="p-note user-profile-bio mb-3 js-user-profile-bio f4" data-bio-text="test">
                                                                Let’s build something amazing together!

                                                                Feel free to tweak these as needed!
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-column">
                                            <div class="flex-order-1 flex-md-order-none">
                                                <div class="d-flex flex-lg-row flex-md-column">
                                                    <div class="flex-1 mb-0 mb-md-3">
                                                        <div style="visibility: hidden; display: none; height: 4px;" class="js-user-profile-follow-button pb-1 mb-n1 is-placeholder"></div><div class="js-sticky js-user-profile-follow-button pb-1 mb-n1" style="position: static; top: 465px !important; left: 0px; width: 296px;" data-original-top="465.25px"></div>
                                                        <span class="user-following-container" style="position:relative; x-index: 99;  z-index: 9999;">
                                                            <span class="follow d-block">
                                                                <a class="btn btn-block"
                                                                   data-hydro-click="{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;follow button&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;LOG_IN&quot;,&quot;originating_url&quot;:&quot;https://github.com/ATkingma&quot;,&quot;user_id&quot;:null}}"
                                                                   data-hydro-click-hmac="3516f00a7c01fa6821ade8979e1b7906c3107470441212f97c9f63e8d4c32699"
                                                                   href="https://assetstore.unity.com/publishers/78023"
                                                                   target="_blank">
                                                                    Unity Publisher page
                                                                </a>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border-top color-border-muted pt-3 mt-3">
                                            <h2 class="h4 mb-2">My Skills</h2>
                                            <ul class="list-style-none">
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #1E90FF; border: 1px solid #1E90FF;" title="Label: C#">C#</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 80%; background-color: #1E90FF; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>6 years</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #9932CC; border: 1px solid #9932CC;" title="Label: Unity">Unity</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 80%; background-color: #9932CC; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>6 year</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #E74C3C; border: 1px solid #E74C3C;" title="Label: Git">Git</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 40%; background-color: #E74C3C; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>4 years</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #c5d303; border: 1px solid #c5d303;" title="Label: Javascript">Javascript</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 30%; background-color: #c5d303; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>3 years</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #00FA9A; border: 1px solid #00FA9A;" title="Label: Java">Java</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 20%; background-color: #00FA9A; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>2 years</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #6A5ACD; border: 1px solid #6A5ACD;" title="Label: SQL">SQL</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width:15%; background-color: #6A5ACD; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small> 1.5 years</small>
                                                </li>
                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #4169E1; border: 1px solid #4169E1;" title="Label: PHP">PHP</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 15%; background-color: #4169E1; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>1.5 years</small>
                                                </li>

                                                <li class="mt-3">
                                                    <span class="Label text-uppercase" style="color: #FF7F50; border: 1px solid #FF7F50;" title="Label: Playcanvas">Playcanvas</span>
                                                    <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                                                        <div style="width: 10%; background-color: #FF7F50; height: 10px; border-radius: 4px;"></div>
                                                    </div>
                                                    <small>1 years</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="Layout-main" data-view-component="true">
                                <section id="about me">
                                    <div class="about-me">
                                        <h2>About Me</h2>
                                        <p>
                                            I am a dedicated developer with a passion for creating innovative solutions. My journey in coding began with curiosity and has evolved into a fulfilling career. I enjoy working with various programming languages and technologies, constantly striving to improve my skills and contribute to meaningful projects. Outside of coding, I have a keen interest in problem-solving and design, often blending these passions into my work. I am always excited to take on new challenges and collaborate with others in the tech community.
                                        </p>
                                        <p>
                                            In addition to my technical skills, I value continuous learning and personal growth. I believe in the power of teamwork and enjoy working in collaborative environments where ideas can be shared and developed. My goal is to make a positive impact through my work, whether it’s by developing user-friendly applications, optimizing existing systems, or exploring new technologies. I am committed to staying updated with industry trends and best practices to ensure that my contributions are both innovative and effective.
                                        </p>
                                    </div>
                                </section>

                                <section id="projects"></section>
                                <turbo-frame data-turbo-action="advance" id="user-profile-frame">
                                    <div class="" data-hpc="">
                                        <div class="mt-4">
                                            <div class="js-pinned-items-reorder-container">
                                                <h2 class="f4 mb-2 text-normal">
                                                    Projects
                                                </h2>
                                                <form accept-charset="UTF-8" action="/users/ATkingma/reorder_pinned_items" class="js-pinned-items-reorder-form" data-turbo="false" id="user-60423088-pinned-items-reorder-form" method="post">
                                                    <input autocomplete="off" name="_method" type="hidden" value="put" />
                                                    <input autocomplete="off" name="authenticity_token" type="hidden" value="ZbOYKcNcp9KwfFjSsraDXwA6RoD1GbErLXPwF9y9VwQLfe5eFVtZivgAzg-rtjF6skpuvTgdWT_g_S8Zo8yS7g" />
                                                    <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-2 js-pinned-items-reorder-list">
                                                        <li class="mb-3 d-flex flex-content-stretch sortable-button-item pinned-item-list-item js-pinned-item-list-item col-12 col-md-6 col-lg-6 reorderable">
                                                            <div class="Box d-flex p-3 width-full public source">
                                                                <div class="pinned-item-list-item-content">
                                                                    <div class="d-flex width-full position-relative">
                                                                        <div class="flex-1">
                                                                            <svg aria-hidden="true" class="octicon octicon-repo mr-1 color-fg-muted" data-view-component="true" height="16" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                                                                                </path>
                                                                            </svg>
                                                                            <span class="position-relative" data-view-component="true">
                                                                                <a aria-labelledby="tooltip-50ace138-fbb1-4603-a134-90cb93b78dba"
                                                                                   class="Link mr-1 text-bold wb-break-word"
                                                                                   data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":60423088,"target":"PINNED_REPO","user_id":60423088,"originating_url":"https://github.com/ATkingma"}}'
                                                                                   data-hydro-click-hmac="9a0b270960bebeab38c13dd65dd70a0c2bc7dcc3f6c27ae36bc50c756c7fb539"
                                                                                   data-view-component="true"
                                                                                   href="https://poki.com/en/g/crazy-cars"
                                                                                   target="_blank">
                                                                                    <span class="repo">
                                                                                        Crazy Cars
                                                                                    </span>
                                                                                </a>

                                                                            </span>
                                                                            <span>
                                                                            </span>
                                                                            <span class="Label Label--secondary v-align-middle mt-1 no-wrap v-align-baseline Label--inline">
                                                                                Finished
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <input autocomplete="off" class="form-control" id="pinned-item-reorder-376355881" name="pinned_items_id_and_type[]" type="hidden" value="376355881-Repository" />
                                                                            <button class="show-on-focus sortable-button js-sortable-button Button--secondary Button--small Button right-0" data-direction="up" data-view-component="true" type="button">
                                                                                <span class="Button-content">
                                                                                    <span class="Button-label">
                                                                                        <svg aria-label="Move AnimalBehavour-AstarPath up" class="octicon octicon-chevron-up" data-view-component="true" height="16" role="img" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                            <path d="M3.22 10.53a.749.749 0 0 1 0-1.06l4.25-4.25a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 1 1-1.06 1.06L8 6.811 4.28 10.53a.749.749 0 0 1-1.06 0Z">
                                                                                            </path>
                                                                                        </svg>
                                                                                    </span>
                                                                                </span>
                                                                            </button>
                                                                            <button class="show-on-focus sortable-button js-sortable-button Button--secondary Button--small Button right-0" data-direction="down" data-view-component="true" type="button">
                                                                                <span class="Button-content">
                                                                                    <span class="Button-label">
                                                                                        <svg aria-label="Move AnimalBehavour-AstarPath down" class="octicon octicon-chevron-down" data-view-component="true" height="16" role="img" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                            <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z">
                                                                                            </path>
                                                                                        </svg>
                                                                                    </span>
                                                                                </span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <p class="pinned-item-desc color-fg-muted text-small mt-2 mb-0">
                                                                        At my time at ​NoPressureStudios, I had the chance to work on Crazy Cars. This is an awesome car game where I did most of the programming.

                                                                    </p>
                                                                    <p class="mb-0 mt-2 f6 color-fg-muted">
                                                                        <span class="d-inline-block mr-3">
                                                                            <span class="repo-language-color" style="background-color: #c5d303">
                                                                            </span>
                                                                            <span itemprop="programmingLanguage">
                                                                                Javascript
                                                                            </span>
                                                                        </span>

                                                                        <span class="d-inline-block mr-3">
                                                                            <span class="repo-language-color" style="background-color: #d35603">
                                                                            </span>
                                                                            <span itemprop="programmingLanguage">
                                                                                Playcanvas
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mb-3 d-flex flex-content-stretch sortable-button-item pinned-item-list-item js-pinned-item-list-item col-12 col-md-6 col-lg-6 reorderable">
                                                            <div class="Box d-flex p-3 width-full public source">
                                                                <div class="pinned-item-list-item-content">
                                                                    <div class="d-flex width-full position-relative">
                                                                        <div class="flex-1">
                                                                            <svg aria-hidden="true" class="octicon octicon-repo mr-1 color-fg-muted" data-view-component="true" height="16" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z">
                                                                                </path>
                                                                            </svg>
                                                                            <span class="position-relative" data-view-component="true">
                                                                                <a aria-labelledby="tooltip-50ace138-fbb1-4603-a134-90cb93b78dba"
                                                                                   class="Link mr-1 text-bold wb-break-word"
                                                                                   data-hydro-click='{"event_type":"user_profile.click","payload":{"profile_user_id":60423088,"target":"PINNED_REPO","user_id":60423088,"originating_url":"https://github.com/ATkingma"}}'
                                                                                   data-hydro-click-hmac="9a0b270960bebeab38c13dd65dd70a0c2bc7dcc3f6c27ae36bc50c756c7fb539"
                                                                                   data-view-component="true"
                                                                                   href="https://www.vrowl.nl/sloy-zuylen-ar-timeswitch/"
                                                                                   target="_blank">
                                                                                    <span class="repo">
                                                                                        Slot Zuylen
                                                                                    </span>
                                                                                </a>
                                                                            </span>
                                                                            <span>
                                                                            </span>
                                                                            <span class="Label Label--secondary v-align-middle mt-1 no-wrap v-align-baseline Label--inline">
                                                                                Live
                                                                            </span>
                                                                        </div>
                                                                        <div>
                                                                            <input autocomplete="off" class="form-control" id="pinned-item-reorder-376355881" name="pinned_items_id_and_type[]" type="hidden" value="376355881-Repository" />
                                                                            <button class="show-on-focus sortable-button js-sortable-button Button--secondary Button--small Button right-0" data-direction="up" data-view-component="true" type="button">
                                                                                <span class="Button-content">
                                                                                    <span class="Button-label">
                                                                                        <svg aria-label="Move AnimalBehavour-AstarPath up" class="octicon octicon-chevron-up" data-view-component="true" height="16" role="img" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                            <path d="M3.22 10.53a.749.749 0 0 1 0-1.06l4.25-4.25a.749.749 0 0 1 1.06 0l4.25 4.25a.749.749 0 1 1-1.06 1.06L8 6.811 4.28 10.53a.749.749 0 0 1-1.06 0Z">
                                                                                            </path>
                                                                                        </svg>
                                                                                    </span>
                                                                                </span>
                                                                            </button>
                                                                            <button class="show-on-focus sortable-button js-sortable-button Button--secondary Button--small Button right-0" data-direction="down" data-view-component="true" type="button">
                                                                                <span class="Button-content">
                                                                                    <span class="Button-label">
                                                                                        <svg aria-label="Move AnimalBehavour-AstarPath down" class="octicon octicon-chevron-down" data-view-component="true" height="16" role="img" version="1.1" viewbox="0 0 16 16" width="16">
                                                                                            <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z">
                                                                                            </path>
                                                                                        </svg>
                                                                                    </span>
                                                                                </span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <p class="pinned-item-desc color-fg-muted text-small mt-2 mb-0">
                                                                        At my time at Vrowl, I had the chance to on the project slot Zuylen here i made a update to the project witch is currently also live.

                                                                    </p>
                                                                    <p class="mb-0 mt-2 f6 color-fg-muted">
                                                                        <span class="d-inline-block mr-3">
                                                                            <span class="repo-language-color" style="background-color: #08a845">
                                                                            </span>
                                                                            <span itemprop="programmingLanguage">
                                                                                C#
                                                                            </span>
                                                                        </span>

                                                                        <span class="d-inline-block mr-3">
                                                                            <span class="repo-language-color" style="background-color: #9932CC">
                                                                            </span>
                                                                            <span itemprop="programmingLanguage">
                                                                                Unity Engine
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </form>
                                            </div>
                                        </div>

                                        <section id="experiences"></section>
                                        <h2 class="f4 mb-2 text-normal">
                                            Experiences
                                        </h2>
                                        <div class="timeline">
                                            <div class="container left">
                                                <div class="content">
                                                    <h2>HR Assistant</h2>
                                                    <span class="highlight"><p>DNZT, Meppel</p></span>
                                                    <p>Handled HR and scheduling during peak summer,</p><p> quickly adapting to high turnover and managing staff effectively.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>June 2023 - August 2023</p></span>
                                                </div>
                                            </div>
                                            <div class="container right">
                                                <div class="content">
                                                    <h2>Game Development</h2>
                                                    <span class="highlight"><p>Deltion, Zwolle</p></span>
                                                    <p>Graduated with a degree in game development,</p><p> gaining experience in game design, programming.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2019 - 2023</p></span>
                                                </div>
                                            </div>
                                            <div class="container left">
                                                <div class="content">
                                                    <h2>Intern Developer</h2>
                                                    <span class="highlight"><p>VR Owl, Utrecht</p></span>
                                                    <p>Worked as an intern developer on virtual reality projects, </p><p> to the development of immersive experiences using Unity and C#.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>August 2022 - February 2023</p></span>
                                                </div>
                                            </div>

                                            <div class="container right">
                                                <div class="content">
                                                    <h2>Intern Game Developer</h2>
                                                    <span class="highlight"><p>NoPressureStudios, Emmen</p></span>
                                                    <p>Contributed to the development of mobile games using Playcanvas</p>  <p>Javascript/Typescript, gaining experience in game design, scripting</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>January 2022 - July 2022</p></span>
                                                </div>
                                            </div>

                                            <div class="container left">
                                                <div class="content">
                                                    <h2>Front of House Staff</h2>
                                                    <span class="highlight"><p>Luxor, Steenwijk</p></span>
                                                    <p>Delivered excellent customer service, managed ticket sales,</p><p> and ensured a positive guest experience as front-of-house staff.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2021 - 2021</p></span>
                                                </div>
                                            </div>

                                            <div class="container right">
                                                <div class="content">
                                                    <h2>Order Picker</h2>
                                                    <span class="highlight"><p>DiversieFood, Meppel</p></span>
                                                    <p>Assisted in the organization and distribution of food orders,</p><p> learning valuable time management and communication skills.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2019 - 2019</p></span>
                                                </div>
                                            </div>
                                            <div class="container left">
                                                <div class="content">
                                                    <h2>Preparatory Secondary Vocational Education</h2>
                                                    <span class="highlight"><p>Terra, Meppel</p></span>
                                                    <p>Completed a program in predatory secondary vocational education</p><p> gaining hands-on experience in agriculture and animal care.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2015 - 2019</p></span>
                                                </div>
                                            </div>
                                            <div class="container right">
                                                <div class="content">
                                                    <h2>Piano Transporter</h2>
                                                    <span class="highlight"><p>Sjef PianoAtelier, Meppel</p></span>
                                                    <p>Transported pianos for a local piano atelier,</p><p> gather experience in logistics and customer service.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2016 - 2018</p></span>
                                                </div>
                                            </div>

                                            <div class="container left">
                                                <div class="content">
                                                    <h2>Dishwasher</h2>
                                                    <span class="highlight"><p>Stads Cafe Oases, Meppel</p></span>
                                                    <p>Assisted in the cleaning and maintenance of a local cafe.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2017 - 2017</p></span>
                                                </div>
                                            </div>

                                            <div class="container right">
                                                <div class="content">
                                                    <h2>Package Sorter</h2>
                                                    <span class="highlight"><p>Circuit, Meppel</p></span>
                                                    <p>Sorted and organized packages for distribution,</p><p> learning valuable organizational and communication skills.</p>
                                                    <div class="line"></div>
                                                    <span class="highlight"><p>2016 - 2017</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
<div id="includeFooter"></div>
</html>