@{
    ViewData["Title"] = "Home Page";
}
<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/timme.jpg">
        <h1 class="person-name">Timme Kingma</h1>
        <section class="profile-content">
            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als  developer ben ik bekwaam in het programeren van
                    complexe software en het zoeken van een technische oplossing.
                <p>
            </div>


            <div class="skills">
                <h2 class="profile-content__subCategory-title-center">My Skills</h2>
                <ul class="skill-list">
                    <li class="skill-item">
                        <span class="skill-label csharp">C#</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar csharp-bar"></div>
                        </div>
                        <small class="skill-experience">6 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label unity">Unity</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar unity-bar"></div>
                        </div>
                        <small class="skill-experience">6 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label git">Git</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar git-bar"></div>
                        </div>
                        <small class="skill-experience">4 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label javascript">JavaScript</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar javascript-bar"></div>
                        </div>
                        <small class="skill-experience">3 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label java">Java</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar java-bar"></div>
                        </div>
                        <small class="skill-experience">2 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label sql">SQL</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar sql-bar"></div>
                        </div>
                        <small class="skill-experience">1.5 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label php">PHP</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar php-bar"></div>
                        </div>
                        <small class="skill-experience">1.5 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label playcanvas">Playcanvas</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar playcanvas-bar"></div>
                        </div>
                        <small class="skill-experience">1 year</small>
                    </li>
                </ul>
            </div>
        </section>
    </section>

        <section class="profile">
            <div class="profile-content__category">
                <h2 class="profile-content__subCategory-title-center">Ervaring</h2>
            </div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">HR Assistant</h3>
                    <p class="profile-content__institute">
                        DNZT, Meppel
                    </p>
                    <p class="profile-content__period">nov 2021 - mei 2022</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>


            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Graduated Game Development</h3>
                    <p class="profile-content__institute">
                        Deltion, Zwolle
                    </p>
                    <p class="profile-content__period">2019 - 2023</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Intern Developer</h3>
                    <p class="profile-content__institute">
                        VR Owl, Utrecht
                    </p>
                    <p class="profile-content__period">August 2022 - February 2023</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Intern Game Developer</h3>
                    <p class="profile-content__institute">
                        NoPressureStudios, Emmen
                    </p>
                    <p class="profile-content__period">January 2022 - July 2022</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Front of House Staff</h3>
                    <p class="profile-content__institute">
                        Luxor, Steenwijk
                    </p>
                    <p class="profile-content__period">2021 - 2021</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Preparatory Secondary Vocational Education</h3>
                    <p class="profile-content__institute">
                        Terra, Meppel
                    </p>
                    <p class="profile-content__period">2015 - 2019</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>
        </section>
</div>
