@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Timme Kingma</h1>
    </section>

    <section class="profile">
        <div class="custom-line--thick"></div>
        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__title-center">Profiel</h3>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als  developer ben ik bekwaam in het programeren van
                    complexe software en het zoeken van een technische oplossing.
                <p>
            </div>

            <div class="custom-line--thick"></div>


            <div class="skills">
                <h2 class="profile-content__subCategory-title-center">My Skills</h2>
                <ul class="">
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #1E90FF; border: 1px solid #1E90FF;" title="Label: C#">C#</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 80%; background-color: #1E90FF; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>6 years</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #9932CC; border: 1px solid #9932CC;" title="Label: Unity">Unity</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 80%; background-color: #9932CC; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>6 year</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #E74C3C; border: 1px solid #E74C3C;" title="Label: Git">Git</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 40%; background-color: #E74C3C; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>4 years</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #c5d303; border: 1px solid #c5d303;" title="Label: Javascript">Javascript</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 30%; background-color: #c5d303; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>3 years</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #00FA9A; border: 1px solid #00FA9A;" title="Label: Java">Java</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 20%; background-color: #00FA9A; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>2 years</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #6A5ACD; border: 1px solid #6A5ACD;" title="Label: SQL">SQL</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width:15%; background-color: #6A5ACD; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small> 1.5 years</small>
                    </li>
                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #4169E1; border: 1px solid #4169E1;" title="Label: PHP">PHP</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 15%; background-color: #4169E1; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>1.5 years</small>
                    </li>

                    <li class="mt-3">
                        <span class="Label text-uppercase" style="color: #FF7F50; border: 1px solid #FF7F50;" title="Label: Playcanvas">Playcanvas</span>
                        <div style="margin-top: 5px; width: 100%; background-color: #f0f0f0; border-radius: 4px;">
                            <div style="width: 10%; background-color: #FF7F50; height: 10px; border-radius: 4px;"></div>
                        </div>
                        <small>1 years</small>
                    </li>
                </ul>
            </div>


            <div class="custom-line--thick"></div>
            <div class="profile-content__category">
                <h3 class="profile-content__subCategory-title-center">Ervaring</h3>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__subCategory-title-centert">
                    <h4 class="profile-content__title">HR Assistant</h4>
                    <p class="profile-content__period">nov 2021 - mei 2022</p>
                </div>
                <p class="profile-content__institute">
                    DNZT, Meppel
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__subCategory-title-centert">
                        Graduated Game Development
                   </h4>
                    <p class="profile-content__period">
                        2019 - 2023
                    </p>
                </div>
                <p class="profile-content__institute">
                    Deltion, Zwolle
                </p>
            </div>


            
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__subCategory-title-centert">
                        Intern Developer
                   </h4>
                    <p class="profile-content__period">
                        August 2022 - February 2023
                    </p>
                </div>
                <p class="profile-content__institute">
                    VR Owl, Utrecht
                </p>
            </div>

            
            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__subCategory-title-centert">
                        Intern Game Developer
                   </h4>
                    <p class="profile-content__period">
                        January 2022 - July 2022
                    </p>
                </div>
                <p class="profile-content__institute">
                    NoPressureStudios, Emmen
                </p>
            </div>


            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__subCategory-title-centert">
                        Front of House Staff
                    </h4>
                    <p class="profile-content__period">
                        2021 - 2021
                    </p>
                </div>
                <p class="profile-content__institute">
                    Luxor, Steenwijk
                </p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__subCategory-title-centert">
                        Preparatory Secondary Vocational Education
                    </h4>
                    <p class="profile-content__period">
                        2015 - 2019
                    </p>
                </div>
                <p class="profile-content__institute">
                    Terra, Meppel
                </p>
            </div>
        </section>

    </section>
</div>
