@{
    ViewData["Title"] = "Home Page";
}
<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/timme.jpg">
        <h1 class="person-name">Timme Kingma</h1>
        <section class="profile-content">
            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als  developer ben ik bekwaam in het programeren van
                    complexe software en het zoeken van een technische oplossing.
                <p>
            </div>

            <div class="custom-line--thick"></div>


            <div class="skills">
                <h2 class="profile-content__subCategory-title-center">My Skills</h2>
                <ul class="skill-list">
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #1E90FF;">C#</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 80%; background-color: #1E90FF;"></div>
                        </div>
                        <small class="skill-experience">6 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #9932CC;">Unity</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 80%; background-color: #9932CC;"></div>
                        </div>
                        <small class="skill-experience">6 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #E74C3C;">Git</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 40%; background-color: #E74C3C;"></div>
                        </div>
                        <small class="skill-experience">4 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #c5d303;">Javascript</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 30%; background-color: #c5d303;"></div>
                        </div>
                        <small class="skill-experience">3 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #00FA9A;">Java</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 20%; background-color: #00FA9A;"></div>
                        </div>
                        <small class="skill-experience">2 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #6A5ACD;">SQL</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 15%; background-color: #6A5ACD;"></div>
                        </div>
                        <small class="skill-experience">1.5 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #4169E1;">PHP</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 15%; background-color: #4169E1;"></div>
                        </div>
                        <small class="skill-experience">1.5 years</small>
                    </li>
                    <li class="skill-item">
                        <span class="skill-label" style="background-color: #FF7F50;">Playcanvas</span>
                        <div class="skill-bar-container">
                            <div class="skill-bar" style="width: 10%; background-color: #FF7F50;"></div>
                        </div>
                        <small class="skill-experience">1 year</small>
                    </li>
                </ul>
            </div>
        </section>
    </section>

        <section class="profile">
            <div class="profile-content__category">
                <h2 class="profile-content__subCategory-title-center">Ervaring</h2>
            </div>

            <div class="custom-line--thick"></div>
            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">HR Assistant</h3>
                    <p class="profile-content__institute">
                        DNZT, Meppel
                    </p>
                    <p class="profile-content__period">nov 2021 - mei 2022</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>


            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Graduated Game Development</h3>
                    <p class="profile-content__institute">
                        Deltion, Zwolle
                    </p>
                    <p class="profile-content__period">2019 - 2023</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Intern Developer</h3>
                    <p class="profile-content__institute">
                        VR Owl, Utrecht
                    </p>
                    <p class="profile-content__period">August 2022 - February 2023</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Intern Game Developer</h3>
                    <p class="profile-content__institute">
                        NoPressureStudios, Emmen
                    </p>
                    <p class="profile-content__period">January 2022 - July 2022</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Front of House Staff</h3>
                    <p class="profile-content__institute">
                        Luxor, Steenwijk
                    </p>
                    <p class="profile-content__period">2021 - 2021</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>

            <div class="profile-content__element">
                <div class="profile-content">
                    <h3 class="profile-content__title">Preparatory Secondary Vocational Education</h3>
                    <p class="profile-content__institute">
                        Terra, Meppel
                    </p>
                    <p class="profile-content__period">2015 - 2019</p>
                </div>
            </div>
            <div class="custom-line--skinny"></div>
        </section>
</div>
